p {
    
   font-family: "Georgia", Georgia, serif;
    
    font-style: italic;
    
}

body{
    
 background-color: orange; color:#0AA4E6   
    
    
}


title{
    
  font-family: "Georgia", Georgia, serif;
    
}